#toAnimate {
    background-color: blue;
    width: 30px;
    height: 30px;
    margin: auto;

}

#animation-container {
    margin: 0 auto;
    padding: 50px;
    width: 100px;
}

#cerealbox-box {
    width: 100px;
    height: 150px;
    margin: 0 auto;
}



